@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}

/* navbar */

.navbar-nav a{
  font-family: 'poppins';
  font-weight: 500;
}

.navbar{
position: sticky;
top: 0;
z-index: 4;
}


.navbar-brand {
cursor: pointer;

}

.btn {
  color: #fff;
  background: linear-gradient(to right, #21367F 0%, #0298CA 100%);
  border-color: #0298CA;
  font-family: "poppins";
}

.btn:hover {
  color: #fff;
  background: linear-gradient(to right, #0298CA 0%, #21367F 100%);
  border-color: #0298CA;
}

.fa-brands {
  text-align: center;
  color: white;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 1200px) {
  .form-inline {
  display: inline-block;
  }
  .navbar-brand {
      width: 150px;
      list-style: circle;
  }
  .nav-item{
      text-align: center;
  }
  
  @media (min-width: 280px) {
      .form-inline {
      display: none;    
      }
      .navbar-brand {
          width: 150px;
          padding: 0;
          margin-left: 0;
      }
  }
}

/* Slider */

.carousel {
    margin-bottom: 4rem;
  }

  .carousel-caption {
    bottom: 5rem;
    z-index: 1;
  }

  .carousel-caption h5 {
    font-size: 40px;
    font-weight: 500;
  }

/* card */

.card-fixed-top {
  background: none;
  border: none;
  margin-top: -7rem;
  z-index: 15;
}

.card-img-top{
  border-radius: 20px;
  height: auto;

}

