@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

html{
  scroll-behavior:smooth;
}

/* navbar */

.navbar-nav a{
  font-family: 'poppins';
  font-weight: 600;
}

.navbar{
position: sticky;
top: 0;
z-index: 100;
}

.navbar-brand {
cursor: pointer;
}



#navbarNav ul li a:hover{

}

.btn {
  color: #fff;
  background: #0298CA;
  border-color: #0298CA;
  font-family: "poppins";
  border-radius: 0;
  transition: all 0.5s;
}

.btn:hover {
  color: #fff;
  background: #21367F;
  border-color: #21367F;
}

.fa-brands {
  position:relative;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 25px;
  padding-right: 0px;
  padding-left: 0px;
}

@media (max-width: 1200px) {
  .form-inline {
  display: inline-block;
  }
  .navbar-brand {
      width: 150px;
      list-style: circle;
  }
  .nav-item{
      text-align: center;
  }
  
  @media (min-width: 280px) {
      .form-inline {
      display: none;    
      }
      .navbar-brand {
          width: 150px;
          padding: 0;
          margin-left: 0;
      }
  }
}

/* Slider */

.carousel-item{
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.carousel-item img{
  height: 100vh;
  min-width:min-content;
  width: min-content;
}

.carousel-item::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
}

.carousel-caption {
  bottom: 40%;
  top: 40%;
}

.carousel-caption h5 {
  font-size: 60px;
  font-weight: 500;
}

.carousel-caption p{
  font-size: 25px;
}

/* card */

.card{
  border-radius: 20px;
  width: 50px;
  z-index: 15;
}

.card-fixed-top {
  margin-top: -4rem;
}

.card-inner{
  overflow: hidden;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-inner img{
  transition: all 1.2s ease;
}

.card-inner:hover img{
  transform: scale(1.5);
}

/* Contact Form */

.contact{
  background-color: #f8f9fa;
  height: 100%;
}

.input-group span{
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 14px;
  color: red;
}

.input-group span i{
  color: seagreen;
}

#submit-error{
  position:absolute;
  color: red;
}