@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}

:root{
  --primary-color: #21367F;
  --secondary-color: #0298CA;
  --light-gray: #d6d6d6;
  --dark-gray: #d6d6d670;
  --transition: 0.5s;
  --padding: 10px;
  --marging: 10px;
  --font-family:
}

